body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#mosaic {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-weight: bold;
}

#mosaic > div {
    background: rgb(220, 10, 10);
    color: white;
    padding: 20px;
    flex-grow: 1;
    margin: 0.5px;
    border-radius: 10px;
    font-size: 23px;
    min-width: 70px;
}

div#brand {
    background: white;
    font-size: 40px;
}

.first {
    color: black;
}

.last {
    color: gray;
}